{% extends 'base.html.twig' %}

{% block title %}
    {% if isModification %}
        DragonEdit
    {% else %}
        NewDragon
    {% endif %}
{% endblock %}
{% block body %}
    {% if isModification %}
        <h1>Update</h1>
    {% else %}
        <h1>New</h1>
    {% endif %}

    {{ form_start(form)}}
        {{ form_row(form.name, {"attr":{'class':'form'}})}}
        {{ form_row(form.description, {"attr":{'class':'form'}})}}
        {{ form_row(form.image, {"attr":{'class':'form'}})}}
        {{ form_widget(form) }}
        <input type="submit" value="Save">
    {{ form_end (form) }}
{% endblock %}